body {
    overflow: hidden;
}
.wrapper {
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: center;
    margin: 5%;
    width: 90%;
  }
  .aspect {
    padding-bottom: 70%;
    position: relative;
    width: 100%;
  }
  .aspect-inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(255, 0, 106);
  }