body {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url(../Images/back3.jpg) no-repeat top;
    background-size: 100vw cover;
    background-position-y: top;
    text-shadow: 0px 5px 5px 5px black;
}
.logo {
    margin: 5vh 0;
    width: 100%;
    height: 30vh;
    align-items : space-around;
    background: url(../Images/Artha_logo.png) no-repeat center;
    background-size: contain;
}
.logo img {
    display: none;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.links, .links-small {
    text-align: center;
    color: rgba(255, 255, 255, 0.836);
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 10px;
}
.links-small {
    display: none;
    line-height: 25px;
}
.links a, .links-small a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836);
    letter-spacing: 5px;
}
.links a:hover, .links-small a:hover {
    color: rgba(160, 160, 160, 0.836);
}
h1 {
    font-weight: 400;
    color: white;
    text-align: center;

}
.read {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 3em;
    color: white;
}
.langs {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: max-content;
}
.langs a {
    margin: 5px 25px;
    text-decoration: none;    
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.langs a span {
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    opacity: 0;
    font-size: 1.5em;
    letter-spacing: 2px;
}
.langs a:hover span {
    opacity: 100;
    transition: all 0.2s ease-in;
}
p.info {
    width: 40vw;
    margin: auto;
    text-align: center;
    color: rgb(156, 156, 156);
}

.footer {
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.774);
    position: fixed;
    bottom: 0;
    text-shadow: none;
}
.footer h2 {
    color: rgb(19, 19, 19);
    font-size: 0.9em;
    line-height: 5vh;
    text-align: center;
}

/* Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

@media (max-width : 640px) {
    .links {
        display: none;
    }
    .links-small {
        display: flex;
        flex-direction: column;
    }
    .read {
        margin: 1vh 0 2vh;
    }
    p.info {
        display: none;
    }
    .footer {
        width: 100vw;
    } 
}